MONGO_URI=mongodb+srv://myAtlasDBUser:Hamza#1106@myatlasclusteredu.mefrspa.mongodb.net/jamaica-tours?retryWrites=true&w=majority&appName=myAtlasClusterEDU
JWT_SECRET=jamaica_irie_secret_2024_xyz
PORT=4000
FRONTEND_URL=http://localhost:5173